/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #7A7C80;
}
h2,.white{
    color: #fff;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}

/* profile image */
#profile{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

/* cover image */
.cover {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100vw; height: 15vw;
}

.cover-image {
    overflow: hidden;
    position: absolute;
    left: 20%
}

/* section 1 (left section) */
.section-1{
    width: 25%;
    height: 100%;
    border-right: 5px solid #FFCB05;
    position: fixed;

    padding-top: 15vh;
    text-align: center;
    background-color: #00274C;
    color: #FFCB05;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.9rem;
    margin-bottom: 15px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
.section-1 body{
    background-color: #101214;
}


/* section 2 (main section)*/
.section-2{
    padding-top: 0vh;
    width: 57.5%;
    margin-left: 32.5%;
    background-color: #FFFFFF;
    color: #000000;
}
.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #00274C;
}
.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}
.section-2 a{
    display: block;
    font-size: 1.1rem;
    padding-left: 0;
    width: auto;
    color: #0000FF;
}
.block{
    background-color: #F3F3F3;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.block-projects{
    background-color: #FFFBEB;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.block-skills{
    background-color: #E9F4FF;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.2rem;
    color: #FFCB05;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #FFCB05;
    cursor: pointer;
    transition: 0.3s;
}
.white:hover{
    position: relative;
    padding-left: 10px;
}

/* navigation */
.navigation{
    position: fixed;
    top: -60px;
    left:60vw;
    transition: all 0.5s;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-inverse .navbar-nav>li:hover {
    background-color: #9d9d9d;
    border-radius: 4px;
}
.navbar-inverse {
    background-color: #00274C;
    border: none;
}
.navbar-nav{
    border-top: 1px solid #FFCB05;
    border-bottom: 1px solid #FFCB05;
    border-right: 1px solid #FFCB05;
    border-left: 1px solid #FFCB05;
    padding-right: 3vw;
}
#navbar {
    top: auto;
    width: auto;
}
#navbar li {
    padding:10px;
    width: auto;
    display: inline-block;
}


/* media queres */
@media(max-width:780px){
    .section-1, .section-2 {
        float:none;
        text-align:center;
        width:100%;
    }
    .section-1{
        border-right: 0px solid #FFCB05;
        position: absolute;
        height: 700px;
        padding-top: 25vh;
    }
    .section-2{
      position: initial;
        margin-top: 800px;
        width: 90%;
        margin-left: 0%;
        padding: 5vw;
        text-align: left;
    }
    .cover {
        visibility: hidden;
    }
    .cover-image {
        visibility: hidden;
    }
    #profile{
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
    }
    .navigation{
        position: fixed;
        left: 5vw;
        right: 5vw;
    }
    .navbar-inverse .navbar-nav>li:hover {
        border-radius: 1px;
    }
    .navbar-nav{
        padding-right: 10vw;
    }
    #navbar li {
        padding:5px;
    }
}
